{% extends "tempate.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<b-container fluid id="index">
    <b-alert :show="dismissCount" dismissible variant="info" @dismissed="dismissCount=0"
        @dismiss-count-down="countChanged" class="alert">
        登録に成功しました
    </b-alert>

    <!-- Our application root element -->
    <b-row align-h="center">
        <!-- Listing next week holds -->
        <b-col md="8">
            {% for hold in holds %}
            <b-card title="{{ hold['place_name'] }}" class="margin-1">
                {% for i in range(12) %}
                <b-button variant="success">{{ i + 1 }}</b-button>
                {% endfor %}
            </b-card>

            <p>{{ hold["race_id"] }}</p>
            {% endfor %}
        </b-col>

        <!-- Data Getter -->
        <b-col md="4">
            <b-card title="レース情報取得" class="margin-1">
                <b-input-group>
                    <b-form-input v-model="race_id" type="text" placeholder="レースID"></b-form-input>
                    <b-input-group-append>
                        <b-button variant="success" type="submit" @click="race">実行</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-card>
            <b-card title="開催情報取得" class="margin-1">
                <b-input-group>
                    <b-form-input v-model="year_month" type="text" placeholder="開催年月 YYYYMM"></b-form-input>
                    <b-input-group-append>
                        <b-button variant="success" type="submit" @click="hold">実行</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-card>
        </b-col>
    </b-row>
</b-container>

<!-- Start running your app -->
<script>
    window.app = new Vue({
        el: '#index',
        delimiters: ["[[", "]]"],
        data() {
            return {
                race_id: '',
                year_month: '',
                info: null,
                dismissSecs: 5,
                dismissCount: 0
            }
        },
        methods: {
            race: async function () {
                await this.race_get();
                await this.race_post();
                if (this.info.status == "200") {
                    this.dismissCount = this.dismissSecs
                } else {
                    console.log(this.info)
                }
            },
            race_get: async function () {
                await axios({
                    method: 'GET',
                    url: '/race/' + this.race_id
                }).then(response => (this.info = response.data))
            },
            race_post: async function () {
                await axios({
                    method: 'POST',
                    url: '/race/',
                    data: this.info
                }).then(response => (this.info = response))
            },
            hold: async function () {
                await this.hold_get();
                await this.hold_post();
                if (this.info.status == "200") {
                    this.dismissCount = this.dismissSecs
                } else {
                    console.log(this.info)
                }
            },
            hold_get: async function () {
                await axios({
                    method: 'GET',
                    url: '/hold/' + this.year_month
                }).then(response => (this.info = response.data))
            },
            hold_post: async function () {
                await axios({
                    method: 'POST',
                    url: '/hold/',
                    data: this.info
                }).then(response => (this.info = response))
            },
            countChanged(dismissCount) {
                this.dismissCount = dismissCount
            }
        }
    })
</script>

{% endblock %}