{% extends "tempate.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Our application root element -->
<b-row id="index" align-h="center" class="margin-1">
    <b-col md="8">
        <b-card title="UMA Prediction" class="text-center">
            <b-card-text>
                全自動競馬予想ソリューション。データの収集、加工、モデルの適用、結果の表示までを自動で実行。
            </b-card-text>

            <b-form-group :label-cols="4" description="Let us know your name." label="Enter your name"
                class="label-cols">
                <b-form-input v-model.trim="name"></b-form-input>
            </b-form-group>

            <b-alert variant="success" :show="showAlert">Hello {{ name }}</b-alert>

            <div>{{ user["email"] }}</div>
        </b-card>
    </b-col>
</b-row>

<!-- Start running your app -->
<script>
    window.app = new Vue({
        el: '#index',
        data: {
            name: ''
        },
        computed: {
            showAlert() {
                return this.name.length > 4 ? true : false
            }
        }
    })
</script>

{% endblock %}